.profile__avatar-button {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    border: 0;
    margin: 0;
    padding: 0;
    width: 120px;
    height: 120px;
    position: absolute;
    z-index: 1;
    
}

.profile__avatar-button:hover {
    background-image: url(../../../images/profile__avatar-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.8);
    background-size: 22%;
    cursor: pointer;
    opacity: 0.8;
}
