.profile__info {
    display: flex;
    align-items: center;
    gap: 30px;
}

@media(min-width: 320px) and (max-width: 530px) {
    .profile__info {
        flex-direction: column;
        gap: 27.25px;
    }
}