.header__link {
    background-color: black;
    text-decoration: none;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    height: 22px;
    padding: 0;
    margin: 0;
}

.header__link:hover {
    opacity: 0.6;
}

@media(max-width: 425px) {
    .header__link {
        font-size: 14px;
    }
}