.header__email {
    margin: 0 24px 0 0;
    padding: 0;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

@media(min-width: 530px) {
    .header__email {
        display: block;
    }
}

@media(max-width: 530px) {
    .header__email {
        margin: 0 0 14px;
    }
}