.popup__content {
    display: flex;
    flex-direction: column;
    padding: 34px 36px 37px;
    position: relative;
    max-width: 430px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media(min-width: 320px) and (max-width: 530px) {
    .popup__content {
        max-width: 282px;
        padding: 25px 22px;
        margin: 123px auto;
    }
}