.header__button-menu {
    display: none;
    background-image: url(../../../images/header-menu-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #000000;
    box-sizing: border-box;
    cursor: pointer;
    margin: 2px 2px 0 0;
    padding: 0;
    width: 27px;
    height: 27px;
}

.header__button-menu:hover {
    opacity: 0.6;
}

@media(min-width: 320px) and (max-width: 530px) {
    .header__button-menu {
        display: block;
    }
}