.popup__input {
    border: 0;
    width: 100%;
    max-width: 358px;
    height: 27px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 48px 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
}

.popup__input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
}

.popup__input:nth-last-of-type(1) {
    margin: 30px 0 0;
}

.popup__input:focus {
    outline: 0;
}

@media(min-width: 320px) and (max-width: 530px) {
    .popup__input {
        margin: 75px 0 0;
    }

    .popup__input:nth-last-of-type(1) {
        margin: 30px 0 0;
    }
}